@model DAL.DriverFactor

@{
ViewData["ClassName"]=@Html.DisplayNameFor(c=>c.ClassName);
    ViewData["Title"] = $"افزودن {ViewData["ClassName"]} جدید";
}


 <div class="box box-primary">
    <div class="box-header">
<h3 class="box-header text-center">
    <span class="btn btn-warning"> @ViewData["Title"]
    </span>
    </h3>
    <hr />
   </div>
    <div class="box-body">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From" class="form-control" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <input asp-for="To" class="form-control" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeassionCount" class="control-label"></label>
                <input asp-for="SeassionCount" class="form-control" />
                <span asp-validation-for="SeassionCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="taxiCabeid" class="control-label"></label>
                <select asp-for="taxiCabeid" class ="form-control" asp-items="ViewBag.taxiCabeid"></select>
            </div>
            <div class="form-group">
                <label asp-for="serviceRequsetId" class="control-label"></label>
                <select asp-for="serviceRequsetId" class ="form-control" asp-items="ViewBag.serviceRequsetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Hs_Change" class="control-label"></label>
                <input asp-for="Hs_Change" class="form-control" />
                <span asp-validation-for="Hs_Change" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-success  btn-block" />
            </div>
        </form>
    </div>
</div>
</div>
    </div>
<div>
    <a class="btn btn-danger" asp-action="Index"> بازگشت به لیست </a>
</div>

