
@{
    ViewData["Title"] = "تایید پرداخت";
}

<p class="center"> پرداخت شما در سامانه بیسترو با موفقیت ثبت گردید . ظرف 48 ساعت آینده مشخصات راننده و  خودروی سرویس شما معرفی خواهد شد </p>
<p class="center">
    <a class="btn btn-primary" asp-controller="Home" asp-action="ServiceDetail" asp-route-id="@ViewBag.id">جزییات بیشتر</a>
</p>

