
@{
    ViewData["Title"] = "سوالات متدوال";
}

<div class="row">
    <div class="col s12">
        <div class="card white lighten-1">

            <div class="center">
                <br />

                <p>ایلیکار</p>
                <p>سوالات متداول</p>
            </div>
            <div class="card-content black-text" style="line-height:40px;padding-right:40px;">

            

             

                <p class="MsoListParagraph" dir="RTL" style="text-indent:-.25in;">
                    <b>
                        <span style="font-size:12.0pt;line-height:107%;
"><span>1-<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span>
                    </b><span dir="RTL"></span><b>
                        <span style="font-size:12.0pt;line-height:107%;
">
                            چرا باید از ایلیکار به عنوان سرویس کودکان خود استفاده
                            کنیم؟
                        </span>
                    </b><b>
                        <span dir="LTR" style="font-size:12.0pt;line-height:107%;
mso-bidi-font-family:&quot;B Mitra&quot;"></span>
                    </b>
                </p>

                <p class="MsoNormal" dir="RTL" style="margin-right:.5in">
                    <span style="font-size:12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">
                        ایلیکار به
                        عنوان سامانه مدیریت تردد زبان آموزان طی تفاهم نامه ای با کانون زبان ایران با
                        هدف راحت تر کردن رفت و آمد زبان آموزان از منزل تا شعب کانون زبان به ارائه خدمات
                        پرداخته است.
                    </span>
                </p>

                <p class="MsoNormal" dir="RTL" style="margin-right:.5in"><span style="font-size:12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">&nbsp;</span></p>

                <p class="MsoListParagraphCxSpFirst" dir="RTL" style="text-indent:-.25in;
mso-list:l0 level1 lfo1">
                    <b>
                        <span style="font-size:12.0pt;
line-height:107%;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin">
                            <span style="mso-list:Ignore">
                                2-<span style="font:7.0pt &quot;Times New Roman&quot;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span>
                        </span>
                    </b><span dir="RTL"></span><b>
                        <span style="font-size:12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">
                            نحوه انتخاب
                            رانندگان ایلیکار چگونه است؟
                        </span>
                    </b><b>
                        <span dir="LTR" style="font-size:12.0pt;
line-height:107%;mso-bidi-font-family:&quot;B Mitra&quot;"></span>
                    </b>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">
                        <br>
                        تمامی رانندگان ایلیکار با حساسیت خاص و انجام مراحل مشخص انتخاب گردیده و مدارکی
                        همچون گواهینامه عدم اعتیاد و عدم سوء پیشینه ، تصاویر شناسنامه، کارت ملی، کارت
                        ماشین، کارت گواهینامه، سند مالکیت خودرو و عکس 3*4 از آنها دریافت شده است.
                    </span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">&nbsp;</span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">&nbsp;</span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL" style="text-indent:-.25in;
mso-list:l0 level1 lfo1">
                    <b>
                        <span style="font-size:12.0pt;
line-height:107%;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin">
                            <span style="mso-list:Ignore">
                                3-<span style="font:7.0pt &quot;Times New Roman&quot;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span>
                        </span>
                    </b><span dir="RTL"></span><b>
                        <span style="font-size:12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">
                            رانندگان
                            ایلیکار خانم هستند یا آقا ؟
                        </span>
                    </b><b>
                        <span dir="LTR" style="font-size:12.0pt;
line-height:107%;mso-bidi-font-family:&quot;B Mitra&quot;"></span>
                    </b>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">
                        <br>
                        رانندگان فعال در ایلیکار خانم و آقا (با درنظر گرفتن شرط تاهل برای آقایان) می
                        باشند که برای رده سنی کودکان ، ترجیحاً راننده خانم اختصاص خواهد یافت.
                    </span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">&nbsp;</span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">&nbsp;</span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL" style="text-indent:-.25in;
mso-list:l0 level1 lfo1">
                    <b>
                        <span style="font-size:12.0pt;
line-height:107%;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin">
                            <span style="mso-list:Ignore">
                                4-<span style="font:7.0pt &quot;Times New Roman&quot;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span>
                        </span>
                    </b><span dir="RTL"></span><b><span style="font-size:12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA"><span style="mso-spacerun:yes">&nbsp;</span>نحوه نظارت والدین بر سرویس ها چگونه می باشد؟</span></b><b><span dir="LTR" style="font-size:12.0pt;line-height:107%;mso-bidi-font-family:&quot;B Mitra&quot;"></span></b>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">
                        <br>
                        علاوه بر نظارت ایلیکار بر عملکرد راننده ها در نحوه خدمت رسانی به زبان آموزان ،
                        والدین نیز می توانند مسیر حرکت خودروی سرویس مربوط به خود را در سامانه به صورت
                        آنلاین مشاهده نماید.<br>
                        ضمناً مشخصات و شماره تماس راننده و خودروی ایشان نیز در سامانه ایلیکار قابل مشاهده
                        می باشد.
                    </span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">&nbsp;</span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">&nbsp;</span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL" style="text-indent:-.25in;
mso-list:l0 level1 lfo1">
                    <b>
                        <span style="font-size:12.0pt;
line-height:107%;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin">
                            <span style="mso-list:Ignore">
                                5-<span style="font:7.0pt &quot;Times New Roman&quot;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span>
                        </span>
                    </b><span dir="RTL"></span><b>
                        <span style="font-size:12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">
                            هزینه سرویس در
                            ایلیکار چگونه محاسبه می شود؟
                        </span>
                    </b><b>
                        <span dir="LTR" style="font-size:12.0pt;
line-height:107%;mso-bidi-font-family:&quot;B Mitra&quot;"></span>
                    </b>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">&nbsp;</span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">
                        هزینه محاسبه<span style="mso-spacerun:yes">&nbsp; </span>شده در ایلیکار که پس از تعیین آدرس دقیق مبدأ
                        ، نام آموزشگاه و ساعت صحیح کلاس اعلام می شود مربوط به هزینه یک ترم تحصیلی (21
                        جلسه) می باشد.
                    </span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">
                        ضمناً افرادی که پس از گذشت
                        چندروز از شروع ترم تحصیلی درخواست سرویس می دهند متناسب با تعداد جلسات آنها
                        محاسبه و اعلام خواهد شد.<br>
                        نکته : چنانچه زمان زیادی از شروع ترم گذشته و برنامه ریزی سرویس ها انجام شده
                        باشد هزینه سرویس به صورت حداقل و پایه در نظر گرفته خواهد شد.
                    </span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">&nbsp;</span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL">
                    <span style="font-size:
12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">&nbsp;</span>
                </p>

                <p class="MsoListParagraphCxSpMiddle" dir="RTL" style="text-indent:-.25in;
mso-list:l0 level1 lfo1">
                    <b>
                        <span style="font-size:12.0pt;
line-height:107%;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin">
                            <span style="mso-list:Ignore">
                                6-<span style="font:7.0pt &quot;Times New Roman&quot;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span>
                        </span>
                    </b><span dir="RTL"></span><b>
                        <span style="font-size:12.0pt;line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">
                            آیا نرخ اعلام
                            شده برای هزینه سرویس ایلیکار از میزان هزینه آژانس و تاکسی های اینترنتی بیشتر می
                            باشد؟
                        </span>
                    </b><b>
                        <span dir="LTR" style="font-size:12.0pt;line-height:107%;
mso-bidi-font-family:&quot;B Mitra&quot;"></span>
                    </b>
                </p>

                <p class="MsoListParagraphCxSpLast" dir="RTL">
                    <span style="font-size:12.0pt;
line-height:107%;font-family:&quot;B Mitra&quot;" lang="FA">
                        <br>
                        به طور کلی سعی شده ، هزینه محاسبه شده برای سرویس ایلیکار که تابعی از فاصله مسیر
                        ، ترافیک ، ساعت کلاس و ... می باشد از نرخ آژانس ها و تاکسی های اینترنتی کمتر
                        باشد. <br>
                        اما چنانچه در برخی موارد کمی بیشتر از قیمت آنها نیز باشد می توان به مزایایی
                        همچون امنیت و نظارت یکپارچه ، همراهی با همکلاسی ها ، قیمت ثابت در همه شرایط آب
                        و هوایی ، حضور به موقع در مبدأ و مقصد و ... اشاره نمود.
                    </span>
                </p>




            </div>

            <div class="card-action">
              

            </div>

        </div>

    </div>
</div>

