
@{
    ViewData["Title"] = "خانه";
}
@section Sliders{

    <div class="mySlider">
        <img src="~/statics/final.jpg" style="width:100%" />

    </div>

}

<div class="row">
    <div class="col s12 m6" id="aboutus">
        <div class="card  no-shadow">
            <div class="card-content ">
                <span class="card-title">ایلیکار را بهتر بشناسیم</span>
                <p>
                    ایلیکار به عنوان "سامانه مدیریت تردد زبان آموزان کانون زبان ایران" سرویس حمل و نقل گروه های سنی کودکان و نوجوانان به مقصد تمامی شعب کانون زبان ایران بوده که در فاز نخست در شهر تهران به ارائه خدمات پرداخته است.
                </p>
                <ul class="collapsible popout">

                    <li>
                        <div class="collapsible-header"><span>مطالعه بیشتر</span></div>
                        <div class="collapsible-body">
                            <span>
                                در این سامانه( از طریق وب سایت و یا اپلیکیشن )  با یکبار تعیین ترم تحصیلی ،روزها و ساعت کلاس و آدرس مبدأ تا پایان ترم، ایاب و ذهاب زبان آموزان به صورت خودکار برنامه ریزی و انجام می شود. 48 ساعت  بعد از ثبت نام و پرداخت هزینه سرویس در سامانه و پس از پردازش مشخصات راننده و خودرو ارائه خواهد شد، در زمان مقرر سرویس در مبدأ حاضرخواهد شد. در زمان ایاب و ذهاب موقعیت خودرو در اپلیکیشن قابل مشاهده است و با اتمام کلاس، سرویس منتظر زبان آموزان خواهد بود
                            </span>
                        </div>
                    </li>



                </ul>
            </div>

        </div>
    </div>
    <div class="col s12 m6 hide-on-small-only">
        <img src="~/statics/final.png" class="img-responsive" />
    </div>

</div>
<div class="row border-top ">
    <div class="col s12 m6 ">
        <div class="card no-shadow">
            <div class="card-content">
                <img src="~/statics/padilicar.png" class="img-responsive" />
            </div>
        </div>

    </div>
    <div class="col s12 m6">
        <div class="card  no-shadow">
            <div class="card-content ">
                <span class="card-title">  ایلیکار  </span>
                <p>
                    ایلیکار ، سامانه مدیریت  تردد زبان آموزان را نصب کنید و با آرامش فرزندان عزیزتان را به آموزشگاه بفرستید
                </p>
            </div>

        </div>
    </div>


</div>

<div class="row">

    <div class="col s3 center">
        <p>
            <i class="medium material-icons">insert_chart</i>
        </p>
        <p>امنیت کودکان و نوجوانان</p>

    </div>
    <div class="col s3 center">
        <p>
            <i class="medium material-icons">insert_chart</i>
        </p>
        <p>اطلاع از رسیدن خودرو درب منزل</p>

    </div>
    <div class="col s3 center">
        <p>
            <i class="medium material-icons">insert_chart</i>
        </p>
        <p>اطلاع از سوار شدن فرزند</p>

    </div>
    <div class="col s3 center">
        <p>
            <i class="medium material-icons">insert_chart</i>
        </p>
        <p>امکان مشاهده مسیر حرکت سرویس</p>

    </div>
    <div class="col s3 center">
        <p>
            <i class="medium material-icons">insert_chart</i>
        </p>
        <p>اطلاع از رسیدن سرویس به آموزشگاه</p>

    </div>
    <div class="col s3 center">
        <p>
            <i class="medium material-icons">insert_chart</i>
        </p>
        <p>اطلاع از سوار شدن فرزند در مسیر برگشت</p>

    </div>
    <div class="col s3 center">
        <p>
            <i class="medium material-icons">insert_chart</i>
        </p>
        <p>امکان اطلاع رسانی راننده در صورت  اختلال در خودرو </p>

    </div>
    <div class="col s3 center">
        <p>
            <i class="medium material-icons">insert_chart</i>
        </p>
        <p>اطلاع از رسیدن فرزند به درب منزل</p>
    </div>



</div>
@section nocontainer{

    <div id="help">
        <div>
            <div class="card top-pad">
                <p class="center">
                    <img src="~/statics/5.png" class="img-responsive" style="max-width:960px;" />
                </p>
            </div>
        </div>
    </div>

    <div>
        <div class="card green no-margin" id="contact">
            <div class="card-content white-text">
                <span class="card-title"> تماس با ما </span>
                <p class="left">

                    <a asp-action="faq" class="btn white waves-effect waves-light black-text">
                        سوالات متداول
                    </a>
                </p>
                <p>
                    <i class=" material-icons">call</i> <strong><a class="white-text" href="tel:09033634877">09033634877</a></strong>
                    <br />
                    <i class=" material-icons">call</i> <strong><a class="white-text" href="tel:02188852825">02188852825</a></strong>
                </p>

            </div>

        </div>
    </div>


}




