@model Shared.ViewModels.RegisterStudentParrentViewModel
@{
    ViewData["Title"] = "ثبت نام";
}


<div class="fix-navbar-header">
    <br />





</div>
<div class="row">
    <div class="col s12 m4 offset-m4">
        <div class="card white lighten-1">
            <div class="center">
                <p class="red-text">@ViewBag.msg</p>
            </div>
            
            <div class="card-content white-text">
                <div asp-validation-summary="ModelOnly" class="red-text"></div>
              
                <form asp-action="Register" asp-controller="Account" method="post">
                    <div class="form-group">
                        <div class=" col s12 ">
                            <lable asp-for="PhoneNumber">شماره تلفن همراه خود را وارد کنید</lable>
                            <input class="entry" name="phoneNumber" placeholder="تلفن همراه">
                          

                        </div>
                    </div>
              
                 

                    <p class="center">
                        <button class="waves-effect btn corner" type="submit">
                            ثبت نام

                        </button>
                    </p>
                </form>

            </div>
            <div class="card-action">
                <p>
                    <a asp-action="login" asp-controller="Account" class="blue-text"> من از قبل از حساب کاربری دارم </a>
                </p>

            </div>



        </div>
    </div>
</div>

