
@{
    ViewData["Title"] = "ValidateingNumber";
}
<div class="row">
    <div class="col s12 m4 offset-m4">
        <div class="card white lighten-1">
            <div class="center">
                <br />
                <p>کد تایید برای شماره @ViewBag.phoneNumber  پیامک شد</p>
                <p>این کد فقط سه دقیقه اعتبار دارد</p>
                <p class="red-text">@ViewBag.msg</p>
            </div>

            <div class="card-content white-text">
                <form asp-action="ValidateingNumber" method="post">
                    <input type="hidden" value="@ViewBag.phoneNumber" name="phoneNumber" />
                    <div class="form-group">
                        <div class=" col s12 ">
                            <lable>کد تایید را اینجا وارد کنید</lable>
                            <input class="entry box" name="vierfiyCode" placeholder="کد تایید ">
                        </div>
                    </div>
                    <p class="center">
                        <button class="waves-effect btn corner btn-block" type="submit">
                            تایید
                        </button>
                    </p>
                </form>

            </div>
            <div class="card-action">
                <p>
                    @{ string msg = ViewBag.newrequset ? "درخواست کد جدید" : "شماره موبایل اشتباه است ؟"; }
                    <a asp-action="UerChalenge" asp-controller="Account" class="blue-text"> @msg </a>
                </p>
            </div>
        </div>
    </div>
</div>



