@model DAL.Contractor

@{
    ViewData["ClassName"]=@Html.DisplayNameFor(c=>c.ClassName);
    ViewData["Title"] = $"ویرایش {ViewData["ClassName"]} ";
}


<div class="box box-primary">
    <div class="box-header">
<h3 class="box-header text-center">
    <span class="btn btn-warning"> @ViewData["Title"]
    </span>
    </h3>
    <hr />
   </div>
    <div class="box-body">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">نام شرکت</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Age" class="control-label">سابقه شرکت</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNubmber" class="control-label"></label>
                <input asp-for="PhoneNubmber" class="form-control" />
                <span asp-validation-for="PhoneNubmber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="RelaseDate" class="control-label"></label>
                <input asp-for="RelaseDate" class="form-control" />
                <span asp-validation-for="RelaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpireDate" class="control-label"></label>
                <input asp-for="ExpireDate" class="form-control" />
                <span asp-validation-for="ExpireDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NIdCode" class="control-label"></label>
                <input asp-for="NIdCode" class="form-control" />
                <span asp-validation-for="NIdCode" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="RegisterCompanyNumber" class="control-label"></label>
                <input asp-for="RegisterCompanyNumber" class="form-control" />
                <span asp-validation-for="RegisterCompanyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-warning btn-block" />
            </div>
        </form>
    </div>
</div>
    </div>
    </div>
<div>
    <a class="btn btn-danger" asp-action="Index">بازگشت به لیست</a>
</div>

