@model IEnumerable<DAL.Accounting>
@using DAL

@{
    ViewData["ClassName"] = @Html.DisplayNameFor(c => c.ClassName);
    ViewData["Title"] = $"ویراش {ViewData["ClassName"]} ";
}


<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-header text-center">
            <span class="btn btn-warning">
                @ViewData["Title"]
                <span class="badge bg-aqua">
                  
                </span>
            </span>
        </h3>
        <hr />

    </div>
    <div class="box-body">
        <div class="table-responsive">
            
        </div>
    </div>
</div>


