
<div class="row">
    <div class="col-lg-12">
        @{
            @*if (ViewBag.msg!=true)
                {
                    <div class="box box-default">
                        <div class="box-header">
                            <h5 class="text-center">نتیجه ثبت نام</h5>
                        </div>
                        <div class="box-body">
                            <p>نا مشخص</p>
                        </div>
                    </div>
                }
                else
                {*@
            <div class="box box-success">
                <div class="box-header">
                    <h5 class="text-center">نتیجه ثبت نام</h5>
                </div>
                <div class="box-body ">
                    <h4 class="text-center">زبان آموز گرامی</h4>
                    <p class="text-center">پیش ثبت نام سرویس ایاب  و ذهاب شما انجام شد</p>
                    <p class="text-center">از اعتماد شما سپاسگزاریم.</p>
                    <p class="text-center">
                        <a class="btn btn-primary" href="@Const.StudentparrentPath">ورود به برنامه</a>

                    </p>
                </div>
            </div>
            @*}*@
        }
    </div>
</div>


